body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #1e3c72 0%, #2a5298 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: #fff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 350px;
  animation: fadeIn 1s ease-in-out;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.icon {
  width: 70px;
  height: 70px;
  margin-right: 10px;
}

.text {
  display: flex;
  align-items: center;
}

.crypto {
  color: #1E90FF;
  font-weight: bold;
  font-size: 24px;
}

.flux {
  color: #00BFFF;
  font-weight: normal;
  font-size: 24px;
}

input {
  width: 80%;
  padding: 15px;
  margin-bottom: 20px;
  border: 2px solid #ddd;
  border-radius: 25px;
  outline: none;
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: #007bff;
}

button {
  padding: 15px 30px;
  border: none;
  background: #007bff;
  color: #fff;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0.5rem;
}

button:hover {
  background: #0056b3;
}

#tokenomics {
  margin-top: 20px;
  text-align: left;
  opacity: 0;
  animation: slideIn 0.5s forwards;
}

.tokenomics-item {
  margin-bottom: 10px;
  padding: 10px;
  background: #f9f9f9;
  border-left: 5px solid #007bff;
  border-radius: 5px;
  animation: fadeInUp 0.5s ease-in-out;
  
}
.tokenomics-item:hover {


  border-left: 5px solid #003f83;

  
}

.tokenomics-item span,a {
  font-weight: bold;
  color: #333;
}

@keyframes fadeIn {
  from {
      opacity: 0;
      transform: scale(0.9);
  }
  to {
      opacity: 1;
      transform: scale(1);
  }
}

@keyframes slideIn {
  from {
      transform: translateY(20px);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
      transform: translateY(10px);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}
.modal,.trendingModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content,.trendingModal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}



.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#Vote{

  margin: 1.5rem;


}
p{

  color: #0265ce;
}


#rocket, #thumb {
  width: 30px;
  height: 30px;
  transition: width 0.2s ease, height 0.2s ease;
}

#rocket:active, #thumb:active {
  width: 50px;
  height: 50px;
}
h1{

  color: rgb(133, 182, 255)
}